.cards__content {
  overflow: auto;
  font-weight: bold;

  & > * {
    margin: 15px;
  }
}

.binary_content__button {
  padding: .5em 2em;

  color: white;
  outline: none;
  border-style: none;
  border-radius: 6px;
  background: linear-gradient(to bottom, #0058b3 0%, #6d6dd2 100%);

  cursor: pointer;

  &:hover {
    background: linear-gradient(to bottom, #007af5 0%, #adadff 100%);
  }

  &:focus {
    background: linear-gradient(to bottom, #0056b8 0%, #b0b0e3 100%);
  }
}

.card__qa_content {
  transform: rotateY(180deg);
}

.card__js_content {
  transform: rotateY(-180deg);
}

.card__qa_cover, .card__qa_content {
  backface-visibility: hidden;
}

.card__events_content, .card__blog_content {
  font-size: 14px;
  font-weight: unset;
}

.card__contacts_content {
  font-size: 28px;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  & > i {
    margin: 0 5px;

    cursor: pointer;
  }

  & > i:hover {
    color: #40a7ec;
  }
}

.card__gif {
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .binary_content__button {
    font-size: 20px;
    padding: 15px 30px;
  }
}