.cards__cover {
  color: white;
  transition: transform 0.4s;
  z-index: 1;
  font-size: 90px;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card__qa_cover {
  background-color: #47a569;
}

.card__js_cover {
  background-color: #e9af41;
  color: black;
}

.card__java_cover {
  background-color: #ce494a;
  font-size: 60px;
}

.card__php_cover {
  background-color: #6689c3;
  color: black;
  font-style: italic;
}

.card__net_cover {
  background-color: #84497b;
}

.card__events_cover, .card__blog_cover, .card__contacts_cover {
  font-size: 20px;
}

.card__events_cover {
  background-color: #40a7ec;
}

.card__blog_cover {
  background-color: #1f42c4;
}

.card__contacts_cover {
  background-color: #0e257d;
}