header {
  flex: 0 0 auto;
  position: fixed;
  top: -50px;
  height: 50px;
  z-index: 1;

  background-color: white;

  transform: translateY(100%);
  transition: transform 0.5s ;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: inherit;
}

header .user {
  display: flex;
}

.logo {
  cursor: pointer;
}

.user {
  align-items: center;
}

.user__notifications {
  color: lightgrey;
  cursor: pointer;

  margin-right: 20px;

  &:hover {
    color: darkgray;
  }
}

.avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding-top: 3px;
  border: 1px solid lightgrey;

  background: orange;
  color: white;
  text-align: center;
  cursor: pointer;

  font: 22px Arial, sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}