.main__cards {
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(12, 1fr);
  perspective: 1000px;
  height: 100%;

  & > div {
    position: relative;
    width: 100%;
    height: 100%;
  }

  & > div > div {
    background-color: white;
  }
}

.cards__col1 {
  grid-column: 1 / 4;
}

.col1__binary {
  grid-row: 1 / 5;

  &:hover {
    .card__binary_cover {
      transform: translateY(-100%);
    }
  }
}

.col1__qa {
  grid-row: 5 / 9;

  &:hover {
    .card_flip {
      transform: rotateY(180deg);
    }
  }
}

.cards__col2 {
  grid-column: 4 / 7;
}

.col2__js {
  grid-row: 1 / 7;

  &:hover {
    .card_flip {
      transform: rotateY(-180deg);
    }
  }
}

.col2__java {
  grid-row: 7 / 9;

  &:hover {
    .card__java_cover {
      transform: translateY(100%);
    }
  }
}

.cards__col3 {
  grid-column: 7 / 11;
}

.col3__net {
  grid-row: 4 / 9;

  &:hover {
    .card__net_cover {
      transform: scale(0);
    }
  }
}

.cards__col4 {
  grid-column: 11 / 13;
}

.col4__events {
  grid-row: 4 / 6;

  &:hover {
    .card__events_cover {
      transform: translateX(100%);
    }
  }
}

.col4__blog {
  grid-row: 6 / 8;

  &:hover {
    .card__blog_cover {
      transform: scale(0, 1);
    }
  }
}

.col4__contacts {
  grid-row: 8 / 9;

  &:hover {
    .card__contacts_cover {
      transform: translate(100%, 100%);
    }
  }
}

.cards__php {
  grid-area: 1 / 7 / 4 / 13;

  &:hover {
    .card__php_cover {
      transform: translate(100%, -100%);
    }
  }
}

.cards__content, .cards__cover {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.card_flip {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

@media screen and (max-width: 1050px) {
  .main__cards {
    grid-template-rows: repeat(11, 80px);
  }

  .col1__binary {
    grid-row: 1 / span 5;
    grid-column: 1 / span 5;
  }

  .col2__js {
    grid-row: 1 / span 5;
    grid-column: 6 / span 4;
  }

  .cards__col4 {
    grid-column: 10 / span 3;
  }

  .col4__events {
    grid-row: 1 / span 2;
  }

  .col4__blog {
    grid-row: 3 / span 2;
  }

  .col4__contacts {
    grid-row: 5 / span 1;
  }

  .col1__qa {
    grid-row: 6 / span 3;
    grid-column: 1 / span 6;
  }

  .col2__java {
    grid-row: 9 / span 3;
    grid-column: 1 / span 6;
  }

  .cards__php {
    grid-row: 6 / span 3;
    grid-column: 7 / span 6;
  }

  .col3__net {
    grid-row: 9 / span 3;
    grid-column: 7 / span 6;
  }
}

@media screen and (max-width: 600px){
  .main__cards {
    grid-template-rows: repeat(24, 60px);
    grid-template-columns: 1fr;

    & > div {
      grid-column: 1;
    }
  }

  .card__js_cover {
    justify-content: center !important;
    align-items: center !important;
  }

  .col1__binary {
    grid-row: 1 / span 4;
  }

  .col2__js {
    grid-row: 5 / span 3;
  }

  .col4__events {
    grid-row: 20 / span 2;
  }

  .col4__blog {
    grid-row: 22 / span 2;
  }

  .col4__contacts {
    grid-row: 24 / span 1;
  }

  .col1__qa {
    grid-row: 8 / span 3;
  }

  .col2__java {
    grid-row: 11 / span 3;
  }

  .cards__php {
    grid-row: 14 / span 3;
  }

  .col3__net {
    grid-row: 17 / span 3;
  }
}