.main__notifications {
  position: fixed;
  right: 15px;
  bottom: 0;

  color: white;
}

.main__notifications_box {
  display: flex;
  align-items: center;

  width: 220px;
  height: 80px;
  margin: 15px 0;

  border-radius: 5px;
}

.notification_error {
  background-color: rgba(194, 38, 38, 0.8);
}

.notification_success {
  background-color: rgba(0, 195, 0, 0.8);
}

.notification_warning {
  background-color: rgba(222, 171, 25, 0.8);
}

.main__notifications i {
  font-size: 22px;
  margin: 0 10px;
}

.main__notifications p {
  font-weight: bold;
  margin: 0;
}