* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: Arial, sans-serif;
  background-color: #f3f3f38f;
}

body > * {
  width: 100%;
}

.wrapper {
  width: 94%;
  margin: 0 auto;
  max-width: 1200px;
}

.overflow_none {
  overflow: unset;
}

.overflow_hide-scroll {
  overflow: hidden;

  & > div {
    overflow: auto;
  }
}

.display_flex {
  display: flex;
  //justify-content: center;
  //align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-begin {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.align-top {
  align-items: flex-start;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #505050;
}