#user__menu_toggle
{
  position: relative;
  z-index: 1;
}

#user__menu_toggle input
{
  display: block;
  width: 38px;
  height: 30px;
  position: absolute;
  margin: 0;
  left: -3px;
  top: 2px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
}

// TODO Try to fix change color on hover
#user__menu_toggle:hover {
  .avatar {
    background-color: darkorange;
  }
}

#user__menu
{
  position: absolute;
  width: 150px;
  padding-left: 0;
  margin: 0;
  top: 40px;
  right: 0;

  background: white;
  border: 1px solid #f3f3f3;
  box-shadow: 0 0 6px #929292;

  list-style-type: none;

  transform: translate(0, -200%);

  & p {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;

    color: #adadad;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  & > hr {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  & > * {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
  }

  & a {
    padding: 5px 5px;

    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  & a:last-child {
    margin-bottom: 5px;
  }
}

#user__menu_toggle input:checked ~ ul
{
  transform: none;
}